		<div class="ngdialog-message">
					 <button type="button" ng-click="filterSetting('')" class="btn btn-default dialog-button" data-dismiss="modal">Nopreference</button>
					 <button type="button" ng-click="filterSetting('URBAN')" class="btn btn-default dialog-button" data-dismiss="modal">Rural</button>
					 <button type="button" ng-click="filterSetting('SMALL')" class="btn btn-default dialog-button" data-dismiss="modal">small</button>
					 <button type="button" ng-click="filterSetting('suburb')" class="btn btn-default dialog-button" data-dismiss="modal">SUBRB</button>
		</div>