		<div class="ngdialog-message">
					 <button type="button" ng-click="filterSize('')" class="btn btn-default dialog-button" data-dismiss="modal">Nopreference</button>
					 <button type="button" ng-click="filterSize(0,2000,'Small')" class="btn btn-default dialog-button" data-dismiss="modal">small</button>
					 <button type="button" ng-click="filterSize(10000,50000,'Large')" class="btn btn-default dialog-button" data-dismiss="modal">large</button>
					 <button type="button" ng-click="filterSize(2000,10000,'Medium')" class="btn btn-default dialog-button" data-dismiss="modal">medium</button>
		</div>